* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  list-style: none;
  --padding: 1rem;
  --color: hsl(217, 50%, 50%);
  --hover: hsl(217, 50%, 60%);
  --input: hsl(217, 50%, 60%);
  --input-focus: hsl(357, 50%, 60%);
  --focus: hsl(357, 50%, 50%);
  --outline-color: black;
  --outline-hover: hsl(200, 50%, 90%);
  padding: 1px;
  margin: 1px;
}

body {
  width: 95vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: .5rem;
}

.container {
  background: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0,  0, .2);
  border-radius: .25rem;
  overflow: hidden;
  padding: 0 var(--padding);
  margin-bottom: .5rem;  
  width: 700px;
  height: 30vh;
  max-width: 90%;
}

.timer {
  position: absolute;
  top: 2rem;
  font-size: 3rem;
  /* color: #F0DB4F; */
  font-weight: bold;
}